@model StudentPortalMVC.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentRule)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentRule)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FatherName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FatherName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MotherName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MotherName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MobileNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MobileNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Religion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Religion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nationality)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nationality)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BloodGroup)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BloodGroup)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Batch)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Batch)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StudentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
